// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
// FONT
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&family=Ranchers');
$Oswald: ('Oswald', sans-serif);
$Raleway: ('Raleway', sans-serif);
$Ranchers: ('Ranchers', cursive);

// COLOR 
$gray : hsl(43,28,82);
$dark-gray: hsl(0,0,41);
$light-blue: hsl(188, 41, 48);

// MIXIN
@mixin bp($point) {

  @if $point==xs {
    @media only screen and (max-width: 350px) {
      @content;
    }
  }

  @else if $point==sm {
    @media only screen and (max-width: 620px) {
      @content;
    }
  }

  @else if $point==md {
    @media only screen and (max-width: 900px) {
      @content;
    }
  }

  @else if $point==lg {
    @media only screen and (min-width: 1000px) {
      @content;
    }
  }

  @else if $point==xl {
    @media only screen and (min-width: 1300px) {
      @content;
    }
  }
}

@mixin hundredeverything {
  height: 100%;
  width: 100%;
}

@mixin zeromarginpadding {
  padding: 0;
  margin: 0;
}

@mixin headerfont ($color) {
  font-family: $Raleway;
  font-size: 2.3rem;
  color: $color;
  letter-spacing: .03rem;
}

@mixin subheaderfont($color) {
  font-family: $Oswald;
  text-decoration: none;
  font-size: 2rem;
  color: $color;
  letter-spacing: .02rem;
}

@mixin bodyfont ($color){
  font-family: $Oswald;
  text-decoration: none;
  font-size: .9rem;
  color: $color;
  letter-spacing: .01rem;
}

// WHOLE PAGE LAYOUT
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  @include hundredeverything;
  @include zeromarginpadding;

  > div {
    @include hundredeverything;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

.containerdiv{
  @include hundredeverything;
  display: grid;
  grid-template-rows: 1fr 100px;
  grid-template-columns: 100%;
  grid-template-areas: 
  "main"
  "footer";

  .main-section {
    grid-area: main;
  }

  footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;

    > p {
      @include bodyfont(#ccc)
      grid-area: paragraph;
      margin: auto 10px;
      text-align: right;
    }

  }
}

// NO USER PRESENT STYLING
.nouser-section {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 50px 1fr auto;
  grid-template-columns: 100%;
  grid-template-areas: 
  "header"
  "main"
  "banner";

  header {
    grid-area: header;

    h4 {
      @include bp(md) {
        padding-left: 1rem;
      }
      @include headerfont($light-blue);
      padding-left: 3rem;
    }
  }

  .main-nouser-section{
    grid-area: main;
    width: 90%;
    margin: auto;
    grid: display;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .splash-section {
    display: grid;
    place-content: center;
    padding-top: 4rem;

    h2 {
      @include subheaderfont($dark-gray);
    }
  }

  .no-user-forms {
    padding-top: 4rem;

    h4 {
      @include headerfont($light-blue);
    }

    label {
      @include bodyfont($dark-gray);
    }

    a {
      @include bodyfont(#000);
      text-align: center;
      cursor: pointer;

      &:hover {   
        text-decoration: underline;
        color: $light-blue;
      }
    }

    button {
      @include bodyfont(#fff);
      background-color: $light-blue;
      border: none;
      outline: none;
      box-shadow: 2px 2px 4px #ccc;

      &:hover {
        background-color: lighten($light-blue, 10%);
      }

      &:active {
        box-shadow: inset 2px 2px 4px #ccc;
        background-color: lighten($light-blue, 10%);
      }
    }

  }

  .bottom-banner {
    width: 100%;
    grid-area: banner;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: whitesmoke;

    ul, li {
      height: 100%;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        @include subheaderfont($light-blue);
        text-transform: uppercase;
        margin-top: 1rem;
      }
    }
  }
}

// USER PRESENT STYLING
.userpresent {
  @include hundredeverything;
  display: grid;
  grid-template-rows: 20rem 1fr;
  grid-template-columns: 100%;
  grid-template-areas: 
  " header  "
  " main ";

  // HEADER ON USER PAGES
  header {
    grid-area: header;
    background: linear-gradient(to right, rgba(30, 75, 115, .7), rgba(30, 75, 115, .7)), url('https://images.unsplash.com/photo-1569407228235-9a744831a150?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60');
    background-position: center center; 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65px 1fr;
    grid-template-areas: 
    "nav"
    "search";

    nav {
      background-color: #fff;
      grid-area: nav;
      padding: 5px 0px;

      h4 {
        @include headerfont($light-blue);
        margin-left: 1rem;
      }

      li, a {
        @include bodyfont($light-blue);
        font-size: .9rem;
        margin: auto;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    // SEARCH SECTION ON HOME PAGE
    .search-section {
      grid-area: search;
      display: grid;
      place-items: center;

      input {
        @include bp(md) {
          width: 90%;
        }
        width: 70%;
        border-radius: 24px;
        padding: .5rem 1rem;
        outline: none;
        border: none;
        box-shadow: 2px 2px 4px #ccc;
        color: #000;
      }
    }
  }

  .user-main-section {
    grid-area: main;
    width: 90%;
    margin: 4rem auto;
  }
}

// CARD SECTION ON DISPLAY COMPONENTS AND USER PROFILE
.card-columns {

  @include bp(md) {
    column-count: 2;
  }

  @include bp(sm) {
    column-count: 1;
  }

  .card {
    position: relative;

    img {
      cursor: pointer;
    }

    .card-header {
      display: flex;
      flex-direction: column;
    
      .back-button {
        @include bodyfont($light-blue);
        align-self: flex-end;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      > .card-text {
        @include bodyfont($dark-gray);
      }
    }

    .image-card-body {
      display: grid;
      grid-template-rows: 1fr auto auto;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      "cardtop cardtop"
      "description description"
      "cardfooter cardfooter";

      .cardtop {
        grid-area: cardtop;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1rem;
      }

      button {
        @include bodyfont($light-blue);
        padding: .2rem .5rem;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .card-text {
        grid-area: description;
      }

      p{
        @include bodyfont($dark-gray);
      }
    }

    .card-footer {
      grid-area: cardfooter;
      background-color: transparent;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      p {
        @include bodyfont($light-blue);
        margin: .3rem .3rem;
        padding: .2rem; 
        background-color: whitesmoke;
      }
    }
  }
}

// TAGS SECTION ON HOME PAGE
.tags {
  margin: 2rem auto;

  ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    li {

      p {
        @include bodyfont(#fff)
        font-size: .9rem;
        background-color: $light-blue;
        text-align: center;
        max-width: max-content;
        border-radius: 24px;
        box-shadow: 2px 2px 4px #ccc;
        padding: .5rem 2rem;
        margin: 1rem auto;
        cursor: pointer;

        &:hover, &:active {
          background-color: lighten($light-blue, 20%);
        }
      }
    }
  }
}

// NEW FORM
.new-component-form {
  width: 95%;
  padding: 0 0 3rem 0;
  margin: 5rem auto;
  background-color: whitesmoke;
  box-sizing: border-box;

  .form-header {
    background-color: $light-blue;
    height: 150px;
    display: grid;
    place-content: center;

    h4 {
      @include subheaderfont(#fff);
      text-align: center;
    }
  }

  .form-group {
    padding: 2rem 1rem 0 1rem;
    display: grid;
    grid-template-rows: 95%;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "label input";
    margin: auto;

    label {
      grid-area: label;
      text-align: center;
    }

    input, textarea {
      grid-area: input;
      outline: none;  
      width: 100%;
    }

    textarea {
      min-height: 200px;
    }

    button {
      margin: 2rem auto;
    }
  }

  select {
    width: 60%;
    margin: 2rem auto;
  }  


  button {
    background-color: $light-blue;
    width: 50%;
    display: block;
    margin: 2rem auto;
  }
}

// DISPLAY COMPONENTS WITHIN PROFILE
.displaycomponents {
  margin-top: 3rem;
}

// CARD SHOW SECTION WITHIN PROFILE
.display-one-component {
  width: 80%;
  margin: 4rem auto;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 20px auto 20px 50px;
  grid-template-areas: 
  "displayimage displayimage"
  " . ."
  "displaydetail codeblock"
  ". ."
  "editcomponent editcomponent";

  .display-component-image {
    grid-area: displayimage;
    display: grid;
    place-items: center;

    img {
      width: 100%;
      margin: auto;
      box-shadow: 2px 2px 4px #ccc;
    }
  }

  .code-block {
    grid-area: codeblock;
  }

  .display-one-details {  
    grid-area: displaydetail;
    padding: 10px;
    display: grid;
    place-items: center;
  }

  .edit-component{
    grid-area: editcomponent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    button {
      @include bodyfont(#fff);
      background-color: $light-blue;
      outline: none;
      border: none;
    }
  }
}

// EDIT FORM FOR COMPONENTS WITHIN USER PROFILE
.edit-form {
  width: 95%;
  padding-bottom: 20px;
  margin: 3rem auto;
  background-color: whitesmoke;
  box-sizing: border-box;

  .form-header {
    background-color: $light-blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    padding: 10px 5px; 

    h4 {
      @include subheaderfont(#fff);
    }

    button {
      @include bodyfont(#fff);
      background-color: transparent;
      border: none;
      outline: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .form-group {
    padding: 20px 8px;

    label {
      @include bodyfont($dark-gray);
    }

    textarea {
      min-height: 200px;
    }
  }

  .submit-btn {
    @include bodyfont(#fff);
    background-color: $light-blue;

    &:hover {
      background-color: lighten($light-blue, 30%);
    }
  }
}
